.contant{
display: block;

}
.inputBox{
    width: 892px;
    height: 55px;
    border-color: #C6C6C6;
    border-style: groove;
    border-radius: 15px;
    font-size:25px;
}
.buttons{
    margin-top: 50px;
    background-image: linear-gradient(to right, #f336e3, #ac51a4);
}