.contant{
display: block;

}
.inputBox{
    width: 892px;
    height: 55px;
    border-color: #C6C6C6;
    border-style: groove;
    border-radius: 15px;
    font-size: 40px;
}
.buttons{
    margin-top: 50px;
}