*{
    margin:0px;
}
.header{
    width: 1920px;
    height: 100px;
    background-image: url("image/f4.png");

}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 500px;
  height: 1920px;
  background: #E5E5E5;
  position: absolute;

  
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;

}

.wrapper .sidebar ul li{
  padding: 15px;
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: black;
    font-family: "Open Sans";
 font-size: 32px;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  color: #650061;
}
    
.wrapper .sidebar ul li:hover a{
  color: #650061;
}
.header .headerText{
    font-family: 'Sitka Display', 
    sans-serif;
    color:white;
    position: absolute;
    top:15px;
    left: 49px;
    font-size: 57px;
    text-decoration: none;

}
.mainContant{
    width: 1300px;
    height: 1000px;
    position: absolute;
    left:550px;
    top: 110px;

}
.contant{
    display: flex;
    font-family: "Open Sans";
    font-size: 32px;
}
.buttons{
    height: 65px;
    width: 201px;
    font-family: "Open Sans";
    font-size: 32px;
    margin-right: 15px;
    background-color: #B536A7;
    border:none;
    border-radius: 40px;

    color: white;
}
.buttons:hover{
    background-color: #D54AA4;
}